@define-color accent_color #BDE6FB;
@define-color accent_bg_color #BDE6FB;
@define-color accent_fg_color #1E2529;
@define-color destructive_color #fb7c7c;
@define-color destructive_bg_color #fb7c7c;
@define-color destructive_fg_color #1E2529;
@define-color success_color #bbf1dd;
@define-color success_bg_color #bbf1dd;
@define-color success_fg_color #1E2529;
@define-color warning_color #fcc8b4;
@define-color warning_bg_color #fcc8b4;
@define-color warning_fg_color #1E2529;
@define-color error_color #fb7c7c;
@define-color error_bg_color #fb7c7c;
@define-color error_fg_color #1E2529;
@define-color window_bg_color #050010F0;
@define-color window_fg_color #bde6fb;
@define-color view_bg_color #060012;
@define-color view_fg_color #bde6fb;
@define-color headerbar_bg_color #0C0020;
@define-color headerbar_fg_color #bde6fb;
@define-color headerbar_border_color #bde6fb;
@define-color headerbar_backdrop_color #050010F0;
@define-color headerbar_shade_color rgba(189, 230, 251, 0.09);
@define-color card_bg_color #080018;
@define-color card_fg_color #bde6fb;
@define-color card_shade_color rgba(189, 230, 251, 0.09);
@define-color dialog_bg_color #080018AA;
@define-color dialog_fg_color #bde6fb;
@define-color popover_bg_color #080018AA;
@define-color popover_fg_color #bde6fb;
@define-color shade_color rgba(0, 0, 0, 0.36);
@define-color scrollbar_outline_color rgba(23, 29, 32, 0.5);

@define-color destructive_bg_color_alt @red_4;
@define-color destructive_fg_color_alt white;
@define-color success_bg_color_alt @green_5;
@define-color success_fg_color_alt white;
@define-color warning_bg_color_alt #cd9309;
@define-color warning_fg_color_alt RGB(0 0 0 / 80%);
@define-color error_bg_color_alt @red_4;
@define-color error_fg_color_alt white;
@define-color accent_color_alt oklab(from @accent_bg_color max(l, 0.85) a b);
@define-color destructive_color_alt oklab(from @destructive_bg_color max(l, 0.85) a b);
@define-color success_color_alt oklab(from @success_bg_color max(l, 0.85) a b);
@define-color warning_color_alt oklab(from @warning_bg_color max(l, 0.85) a b);
@define-color error_color_alt oklab(from @error_bg_color max(l, 0.85) a b);
@define-color window_bg_color_alt #222226;
@define-color window_fg_color_alt white;
@define-color view_bg_color_alt #1d1d20;
@define-color view_fg_color_alt white;
@define-color headerbar_bg_color_alt #2e2e32;
@define-color headerbar_fg_color_alt white;
@define-color headerbar_border_color_alt white;
@define-color headerbar_backdrop_color_alt @window_bg_color_alt;
@define-color headerbar_shade_color_alt RGB(0 0 6/36%);
@define-color headerbar_darker_shade_color RGB(0 0 12/90%);
@define-color sidebar_bg_color #2e2e32;
@define-color sidebar_fg_color white;
@define-color sidebar_backdrop_color #28282c;
@define-color sidebar_shade_color RGB(0 0 6/25%);
@define-color sidebar_border_color RGB(0 0 6/36%);
@define-color secondary_sidebar_bg_color #28282c;
@define-color secondary_sidebar_fg_color white;
@define-color secondary_sidebar_backdrop_color #252529;
@define-color secondary_sidebar_shade_color RGB(0 0 6/25%);
@define-color secondary_sidebar_border_color RGB(0 0 6/36%);
@define-color card_bg_color_alt RGB(255 255 255/8%);
@define-color card_fg_color_alt white;
@define-color card_shade_color_alt RGB(0 0 6/36%);
@define-color dialog_bg_color_alt #36363a;
@define-color dialog_fg_color_alt white;
@define-color popover_bg_color_alt #36363a;
@define-color popover_fg_color_alt white;
@define-color popover_shade_color RGB(0 0 6/25%);
@define-color thumbnail_bg_color #39393d;
@define-color thumbnail_fg_color white;
@define-color shade_color_alt RGB(0 0 6/25%);
@define-color scrollbar_outline_color_alt RGB(0 0 12/95%);

:root { --standalone-color-oklab: max(l, 0.85) a b; --accent-color: oklab(
    from var(--accent-bg-color) var(--standalone-color-oklab)
  ); --destructive-color: oklab(
    from var(--destructive-bg-color) var(--standalone-color-oklab)
  ); --success-color: oklab(
    from var(--success-bg-color) var(--standalone-color-oklab)
  ); --warning-color: oklab(
    from var(--warning-bg-color) var(--standalone-color-oklab)
  ); --error-color: oklab(
    from var(--error-bg-color) var(--standalone-color-oklab)
  ); --active-toggle-bg-color: rgb(200 200 200 / 20%); --active-toggle-fg-color: #ffffff; --overview-bg-color: #28282c; --overview-fg-color: #ffffff; }
@import 'libadwaita.css';
@import 'libadwaita-tweaks.css';

